.breadcrumb-area {
    position: relative;
    z-index: 1;
    height: 370px;

    .page-title {
        color: var(--bpi-yellow);
        font-size: 45px;
        text-transform: uppercase;
        font-weight: 700;
        word-break: break-all;
    }
}

.breadcrumb-content {
    position: relative;
    z-index: 1;
    margin-top: 9px;
}

.breadcrumb-item + .breadcrumb-item::before {
    color: var(--white) !important;
}

.breadcrumb{
    background-color: transparent !important;
    margin: 0 !important;
    padding: 0 !important;
}

.breadcrumb-item{
    .breadcrumb-disable{
        color: var(--white);
        cursor: default !important;
    }

    a:hover{
        text-decoration: none !important;
    }
}
