.fade-enter-active, .fade-leave-active{ transition: all .3s }
.fade-enter, .fade-leave-to{ opacity: 0 }

#app-main{
    transition: all ease .25s;
    min-height: 50vh;
}

.line{
    height: 2px;
    width: 100%;
    background-color: var(--bpi-yellow);
    margin-bottom: 20px;
}

.iconer{
    transition: all ease .3s;
}

.icon-rotate{
    transform: rotate(180deg);
}

.cursor-default{
    cursor: default !important;
}

.page-item.active .page-link{
    color: var(--white) !important;
    background-color: var(--bpi-blue) !important;
    border-color: var(--bpi-blue) !important;
}

.page-link{
    color: var(--bpi-blue) !important;
}

.h-75-vh{
    height: 75vh;
}

.bpi-employees{
    max-height: 450px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
